<div class="resolucion-grid">
  <!-- Columna izquierda -->
  <div class="resolucion-left">
    <h2 class="resolucion-pregunta">¿Cómo cambiará su vida después de la última actualización?</h2>
    <div class="resolucion-video-container">
        <iframe class="main-video" width="100%" src="https://www.youtube.com/embed/VIJ94-h6-DI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

  <!-- Columna derecha -->
  <div class="resolucion-right">
    <h3 class="resolucion-titulo">¿Sabías qué?</h3>
    <div class="resolucion-cajas">
      <div class="resolucion-caja" *ngFor="let dato of datosIA">
        <img src="assets/icons/check.svg" alt="check" class="resolucion-caja-svg" />
        <div class="resolucion-caja-text">{{ dato.texto }}</div>
      </div>
    </div>
  </div>
</div>
<div class="foro-info">
    <div class="resolucion-foro">
      <p>Ahora que conoces la historia, queremos saber tu opinión. Participa en el foro y cuéntanos qué piensas sobre el final.</p>
      <button class="foro-btn" (click)="goToNext()">Foro</button>
    </div>
</div>