<div class="container">
    <div class="info-box">
      <h2 class="title-proyecto">SOBRE EL PROYECTO</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius, eros nec efficitur euismod, 
        lectus turpis sollicitudin augue, non ultricies enim nunc sit amet augue. Quisque ante magna, 
        varius et vehicula congue, viverra eu nulla.
      </p>
      <button class="btn-recorrido" [routerLink]="['/navegacion/planteamiento']">INICIAR RECORRIDO</button>
    </div>
  </div>