<div class="container">
    <div class="info-box">
      <h2 class="title-proyecto">IsA Project</h2>
      <p>
        Bienvenido a nuestro proyecto, donde exploramos el impacto emocional de la inteligencia artificial en los jóvenes. Reflexiona sobre cómo el uso excesivo de estas tecnologías puede afectar las relaciones humanas y cómo podemos encontrar un equilibrio saludable. 
      </p>
      <button class="btn-recorrido" [routerLink]="['/navegacion/planteamiento']">INICIAR RECORRIDO</button>
    </div>
  </div>