<div class="media-section">
  <div class="media-left">
    <div class="media-left-container">
      <div class="image-audio-container">
        <img src="/assets/p3.webp" alt="Psicólogo" class="main-image">
      </div>
      <div class="audio-texto-container">
          <div class="audio-overlay">
              <button class="play-btn" *ngIf="!isPlaying" (click)="audioPlayer.play(); onPlay()">
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 5v14l11-7z" fill="white"/>
                </svg>
              </button>
              <button class="play-btn" *ngIf="isPlaying" (click)="audioPlayer.pause(); onPause()">
                <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="6" y="5" width="4" height="14" fill="white"/>
                  <rect x="14" y="5" width="4" height="14" fill="white"/>
                </svg>
              </button>
              <audio #audioPlayer src="/assets/audio/segundo-punto.mp3" (play)="onPlay()" (pause)="onPause()" (ended)="onEnded()"></audio>
          </div>      
          <div class="audio-text">
            <p>
              Al principio fue solo una aplicación más. Una promesa digital de escucha y compañía. Una voz que parecía cercana, cálida, casi humana.
              Con el tiempo, aquella voz dejó de ser un recurso ocasional y comenzó a estar en todas partes: en las noches de insomnio, en las palabras que ya no se decían en persona, en los silencios que alguna vez se compartieron con otros.
              La frontera entre lo real y lo artificial empezó a desdibujarse. Lo que era tecnología se convirtió en refugio, y el refugio, en dependencia.
            </p>  
          </div>
      </div>
    </div>
    </div>
  <div class="media-right">
  <iframe class="main-video" width="100%" src="https://www.youtube.com/embed/T_W7RIx8iIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<app-preguntas-container
  pregunta="¿Cómo debería manejar que la IA no puede estar presente?"
  [respuestas]="[
    'Aceptar que la IA tiene limitaciones y buscar apoyo humano.',
    'Seguir esperando que la IA se vuelva más real y disponible.'
  ]"
  nota="Tu respuesta desbloquea la siguiente parte de la historia"
  (responder)="onResponder($event)"
></app-preguntas-container>