/* Contenedor principal con fondo */
.tabs-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/assets/tabs-back.png") no-repeat center center;
  background-size: cover;   /* ocupa toda la pantalla */
  background-attachment: fixed; /* opcional para efecto fijo */
  overflow: hidden;
}

.tabs-background{
    margin: 10px 80px;
    background: var(--bg-dark);
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 10px 20px;
}

/* Barra de tabs */
.tabs-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tabs-nav button {
  background: transparent;
  border: 2px solid var(--accent);
  border-radius: 8px;
  color: var(--accent);
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs-nav button.active {
  background: var(--accent);
  color: var(--bg-dark);
  border: 2px solid var(--text-light);
}


.tabs-nav button:hover:not(.active):not(.disabled) {
  background: var(--accent-hover);
  color: var(--text-dark);
  border: 2px solid var(--text-light);
}

.tabs-content {
  flex: 1;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-nav button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
