<div class="participacion-container">
    <div class="participacion-titulo" *ngIf="postTitle">{{ postTitle }}</div>
    <div class="participacion-descripcion" *ngIf="postDescription">{{ postDescription }}</div>
    <div class="participacion-scroll">
        <div *ngFor="let comentario of comments" class="participacion">
            {{ comentario }}
        </div>
    </div>
    <div class="participacion-boton-container">
        <a class="participacion-boton" href="https://www.reddit.com/r/theIsAproject/comments/1nuqr48/comparte_tu_opini%C3%B3n_la_ia_es_un_buen_sustituto/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button" target="_blank" rel="noopener">
            Participar del foro
        </a>
    </div>
</div>