<div class="participacion-container">
    <div class="participacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia magnam veniam ducimus nostrum qui, incidunt minus quasi nam error quo nobis animi minima iusto sed dignissimos neque ullam? Voluptatum, molestias!</div>
    <div class="participacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia magnam veniam ducimus nostrum qui, incidunt minus quasi nam error quo nobis animi minima iusto sed dignissimos neque ullam? Voluptatum, molestias!</div>
    <div class="participacion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia magnam veniam ducimus nostrum qui, incidunt minus quasi nam error quo nobis animi minima iusto sed dignissimos neque ullam? Voluptatum, molestias!</div>
</div>